.container {
  background-color: #f5f5f5;

  width: 100vw;
  height: 100vh;
  padding: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 400px;
}

.logoImage {
  width: 100%;
  margin-bottom: 40px;
}

.headerTitle {
  font-size: 24px;
  font-weight: 800;
  margin: 24px 0;
}

.headerText {
  color: rgb(113, 114, 122);
  font-size: 12px;
  font-weight: 400;
  margin: 24px 0;
}

.linkToRegister {
  text-align: center;
  color: rgb(113, 114, 122);
  font-size: 12px;
  font-weight: 400;
  margin: 16px 0;
}

.linkToRegister a,
.linkForgotPassword {
  color: rgb(92, 156, 84);
  font-weight: 600;
}

.linkToRegister a:hover,
.linkForgotPassword:hover {
  text-decoration: underline;
}

.linkForgotPassword {
  display: block;
  margin-bottom: 24px;
}

.divider {
  border: 1px solid rgb(212, 214, 221);
  width: 100%;

  margin: 24px;
}

.textSocialMedia {
  color: rgb(113, 114, 122);
  text-align: center;
  font-size: 12px;
}

.contentSocialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin: 16px;
}

.googleIcon {
  background-color: rgb(237, 50, 65);

  width: 40px;
  height: 40px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.facebookIcon {
  background-color: rgb(0, 111, 253);

  width: 40px;
  height: 40px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
